/*------------------------------------SOBRE-STYLE-GERAL------------------*/
.sobre{
  background-color: var(--four-color);
  height: 100vh;
  overflow: hidden;
  padding-block: 5rem;
  position: relative;
}

.container-sobre{
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
  overflow: hidden;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.js .container-sobre .img-avatar{
  position: relative;
  display: block;
  width: 25rem;
  overflow: hidden;
  height: 100% ;
  padding-inline: 1.2rem;
  opacity: 0;
  transition:  1s ease 1s;

}

.container-sobre .img-avatar{
  position: relative;
  display: block;
  width: 25rem;
  overflow: hidden;
  height: 100% ;
  padding-inline: 1.2rem;
  opacity: initial;
  transition: all 3s ease ;
}


.js .sobre.active .container-sobre .img-avatar{
  opacity: initial;
}


.js .container-sobre .img-avatar::before{
  content: '';
  display: inline-block;
  width: 60px;
  height: 50px;
  top: 92px;
  right:56px;
  position: absolute;
  animation: anima-Background 15s forwards infinite linear;
}


.sobre .title{
  max-width: 1120px;
  margin: 0 auto;
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 1rem;
}

.js .sobre .title{
  opacity: 0;
  transform:  translate3d(0,-50px,0);
  transition: 1.5s ease;
}

.js .sobre.active .title{
  transform: initial;
  opacity: initial;
  visibility: visible;
  
}
.js .container-sobre .conteudo-sobre {
  transform: translate3d(0,-70px,0);
  font-size: 1.3rem;
  opacity: 0;
  transition: all 2s ease;
  transition-delay: .5s;
}

.js .sobre.active .conteudo-sobre {
  opacity: initial;
  transform: initial;
}
.conteudo-sobre p{
    font-size: 1.2rem;
    line-height: 150%;
    width: 100%;
  }
.container-sobre .conteudo-sobre p a{
  color: #2195f3ae;
  transition: .5s;
}

.container-sobre .conteudo-sobre p a:hover{
  color: #FFF;
  opacity: 1;
}


/*----------------------------RESPONSIVIDADE------------------------------*/

@media (max-width:40rem){
    .conteudo-sobre p{
    font-size: 1.2rem;
    line-height: 150%;
    width: 100%;
    text-align: center;
  }
}
@media (max-width:1000px){
  .sobre .title{
    text-align: center;
    width: 100%;
  }
  .sobre{
    height: fit-content;
  }
  .container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container-sobre  .img-avatar{
    padding: 0;
    width: 30rem;
    height: 15rem;
  }
  .container-sobre .img-avatar::before{
    width: 35px;
    right: 10.3rem;
    top: 3rem;
  }
}




