/*------------------------------------SOBRE-STYLE-GERAL------------------*/
.sobre{
  background-color: var(--four-color);
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.sobre .sobreBackground{
  position: absolute;
  z-index: 1;
}

.container-sobre{
  position: relative;
  height: 100%;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  overflow: hidden;
}
.contentSobre{
  display:flex;
  flex: 1;
}


.sobre .container-sobre .title{
  text-align: left;
  margin-bottom: 0rem;
}

.js .sobre .container-sobre .title{
  opacity: 0;
  transform:  translate3d(0,-50px,0);
  transition: 1.5s ease;
}

.js .sobre.active .container-sobre .title{
  transform: initial;
  opacity: initial;
  visibility: visible;
}

.sobre .container-sobre .coverSobre{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.coverSobre .me{
  display: block;
  max-width: 400px;
}

.js .sobre .container-sobre .coverSobre{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1.5s 1s;
}

.js .sobre.active .container-sobre .coverSobre{
  opacity: initial;
  transform: initial;
}

.container-sobre .conteudo-sobre{
  display: flex;
  align-items: center;
}
.js .container-sobre .conteudo-sobre {
  transform: translate3d(0,-70px,0);
  font-size: 1.3rem;
  width: 55%;
  opacity: 0;
  transition: all 1.5s ease;
  transition-delay: .5s;
}

.js .sobre.active .conteudo-sobre {
  opacity: initial;
  transform: initial;
}
.conteudo-sobre p{
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: bold;
    width: 100%;
  }
.container-sobre .conteudo-sobre p a{
  color: #9711bc;
  transition: .5s;
}

.container-sobre .conteudo-sobre p a:hover{
  color: #FFF;
  opacity: 1;
}


/*----------------------------RESPONSIVIDADE------------------------------*/

@media (max-width:1300px){
  .sobre .sobreBackground{
    width: 1800px;
  }
}

@media (max-width:900px){
  .container-sobre{
    padding: 2rem;
  }
  .sobre .container-sobre .coverSobre{
    margin-top: 0.8rem;
  }

}

@media(max-width:750px){
  .container-sobre{
    padding: 1rem;
  }
  .sobre .container-sobre .title{
    font-size: 2rem;
  }
  .contentSobre{
    flex-direction: column;
  }
  .sobre .container-sobre .coverSobre{
    width: 100%;
    height: 40%;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    transition-delay: .5s;
  }
  .coverSobre .me{
    max-width: 350px;
  }
  .js  .container-sobre .contentSobre .conteudo-sobre{
    transition-delay: 1.5s !important;
    height: 60%;
    width: 100%;
  }
  .conteudo-sobre p{
    text-align: center;
    font-size: 1rem;
  }
}


