.footer{
  background-color: #07030D;
 
}

.foot-Container{
  color:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #eee;
  padding: 2.5rem 0rem;
}

.foot-Container div{
  display: flex;
  flex-direction: row;
  gap: .2rem;
  align-items: center;
  justify-content: center;
}
.foot-Container span{
  display:flex;
  width: 30px;
  height: 25px;
  align-items: center;
}

@media (max-width:40rem){
  .foot-Container  h4{
    font-size: .8rem;
  }
  .foot-Container span{
    width: 15px;
    height: 10px;
  }
}
