.footer{
  padding-inline: 1rem;
  background-color: var(--four-color);
  
}

.foot-Container{
  color:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid rgba(255, 255, 255, 0.518);
  padding: 2.5rem 1rem;
}

.foot-Container div{
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}
.foot-Container span{
  display:flex;
  width: 30px;
  height: 25px;
  align-items: center;
}

