@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


/*----------------------GERAL------------------------------*/


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root{
  --font-first:'Sairia', sans-serif;

}
.teste{
  position: relative;
  height: 100vh;
}
.lottie-anim {
z-index: -1; 
position: absolute; 
width: 100%;
height: 100%;
pointer-events: none;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}
::-webkit-scrollbar-track {
  background-color: #07030D;
}
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-thumb {
  background: rgba(238, 238, 238, 0.574);
  border-radius: 4px;
}
body{
  
  font-family: var(--font-first);
  font-size: 1.2rem;
  color: white;
  padding-left: 73px;
  background-image: linear-gradient(to right bottom, #200726, #2f1038, #3f174b, #501f5f, #9711bc);
}

a{
  text-decoration: none;
  color: currentColor;
}
p{
  opacity: .9;
}
img{
  width: 100%;
}


.title{
  font-size: 3rem;
  position: relative;
  margin-bottom: 3rem;
  color: white;

}

.title::after{
  content: '';
  display: inline-block;
  margin-left: .5rem;
  width: 6px;
  height: 6px;
  background-color: white;

}

.container-swiper{
  width: 50%;
}
.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-pagination-bullet-active{
        background: #eee !important;
        transform:scale(1.2);
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }



/*----------------------ANIMAÇÕES------------------------------*/


@keyframes anima-size{
  from{
    opacity: 0;
    width: 0px;
  }
  to{
    opacity: initial;
    width: 105px;
  }
}
@keyframes anima-Skill{
  from{
    opacity: 0;
    width: 0px;
  }
  to{
    opacity: initial;
    width: 150px;
  }
}

@keyframes show-rotate{
  from{
    transform: initial;
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes rotate-Words {
  5%{
    opacity: 1;
  }
  10%,20%{
    opacity: 1;
    transform: rotate(3deg);
  }

  15%{
    transform: rotate(-1deg);
  }
  25%{
    opacity: 0;
    transform: translateY(90px) rotate(10deg);
  
  }
}


@keyframes show-Avatar{
  10%{
    top: 34vh;
  }

  20%{
    top: 33vh;
  }
  30%{
    top:31vh;
  }
  40%{
    top: 30vh;
  }
  50%{
    top: 30vh;
  }
  60%{
    top: 31vh;
  }
  70%{
    top: 32vh;
  }
  80%{
    top: 33vh;
  }
  90%{
    top: 34vh;
  }
  100%{
    top: 35vh;
  }
}
@keyframes show-pop{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}
@keyframes show-AvatarMob{
  10%{
    top: 31vh;
  }

  20%{
    top: 30vh;
  }
  30%{
    top: 29vh;
  }
  40%{
    top: 28vh;
  }
  50%{
    top: 27vh;
  }
  60%{
    top: 28vh;
  }
  70%{
    top: 29vh;
  }
  80%{
    top: 30vh;
  }
  90%{
    top: 31vh;
  }
  100%{
    top: 32vh;
  }
}

@keyframes navbar{
  from{
    transform: translate3d(100px,0,0);
    opacity: 0;
  }
  to{
    transform: initial;
    opacity:initial
  }
}

@keyframes anima-Left{
  to{
    transform: initial;
    opacity: initial;
    visibility: visible;
  }
}

@keyframes anima-Card {
  from{
    transform: translate3d(0,-70px,0);
    opacity: 0;
  }
  to{
    opacity: initial;
    visibility: visible;
    transform: initial;
    opacity: initial;
  }
}

@keyframes anima-title{
  to{
    opacity: initial;
    transform: initial;
  }
}


@keyframes skill-Card {

  to{
    opacity: initial;
    transform: initial;
    visibility: visible;
  }
}


@keyframes anima-Background{
  0%{
    background: url('../Assets/java.svg') center center no-repeat;
  }

  20%{
    background: url('../Assets/php.svg') center center no-repeat;
  }

  40%{
    background: url('../Assets/hoverSvg/html.svg') center center no-repeat;
  }
  60%{
    background: url('../Assets/hoverSvg/bootstrap.svg') center center no-repeat;
  }
  80%{
    background: url('../Assets/hoverSvg/javaScript.svg') center center no-repeat;
  }
  100%{
    background: url('../Assets/react.svg') center center no-repeat;
  }
}