@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700;900&display=swap');




/*----------------------GERAL------------------------------*/


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root{
  --font-first:'Sairia', sans-serif;

}
.teste{
  position: relative;
  height: 100vh;
}
.lottie-anim {
z-index: -1; 
position: absolute; 
width: 100%;
height: 100%;
pointer-events: none;
}

html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
}
::-webkit-scrollbar-track {
  background-color: #07030D;
}
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-thumb {
  background: rgba(238, 238, 238, 0.574);
  border-radius: 4px;
}
body{
  
  font-family: var(--font-first);
  font-size: 1.2rem;
  color: white;
  padding-left: 73px;
  background-image: linear-gradient(to right bottom, #200726, #2f1038, #3f174b, #501f5f, #9711bc);
}
.Background{
  position: absolute;
  z-index: 1;
}

a{
  text-decoration: none;
  color: currentColor;
}
p{
  opacity: .9;
}
img{
  width: 100%;
}


.title{
  font-size: 3rem;
  position: relative;
  margin-bottom: 3rem;
  color: white;

}

.title::after{
  content: '';
  display: inline-block;
  margin-left: .5rem;
  width: 6px;
  height: 6px;
  background-color: white;

}

.container-swiper{
  width: 50%;
  display: flex;
  align-items: center;
}
.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: fit-content;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet-active{
  background: #eee !important;
  transform:scale(1.2);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination{
    position: absolute;
    top: 95%;
    
    
  }

  @media (max-width:1300px){
    .Background{
      width: 1800px;
    }
  }

/*----------------------ANIMAÇÕES------------------------------*/




@keyframes rotate-Words {
  5%{
    opacity: 1;
  }
  10%,20%{
    opacity: 1;
    transform: rotate(3deg);
  }

  15%{
    transform: rotate(-1deg);
  }
  25%{
    opacity: 0;
    transform: translateY(90px) rotate(10deg);
  
  }
}

@keyframes show-pop{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}


@keyframes anima-Left{
  to{
    transform: initial;
    opacity: initial;
    visibility: visible;
  }
}

@keyframes anima-Card {
  from{
    transform: translate3d(0,-70px,0);
    opacity: 0;
  }
  to{
    opacity: initial;
    visibility: visible;
    transform: initial;
    opacity: initial;
  }
}




