/*-------------------------------NAV-MENU-------------------------------------*/
#navBar {
  background-color: #07030D;
  color: white;
  font-size: 1.1rem;
  font-family: var(--font-first);
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0;
  z-index: 10000;
  border: 1px solid rgba(255, 255, 255, 0.068);
}
.navigation{
  padding-block: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.navigation .menuNav span{
  content:'';
  display: block;
  border-radius: 4px;
  margin-top: 2px;
  width: 40px;
  height: 4px;
  background-color: #eee;
}
.navigation .menuNav .line2{
  width: 30px;
}
.navigation .menuNav .line3{
  width: 20px;
}
.navLinks{
  gap: 2rem;
  display: flex;
  margin-block: auto;
  flex-direction: column;
}
.navLinks .icon{
  width: 100%;
  position: relative;
  display: inline-block;
  margin-inline: 1rem;
  width: 40px;
  height: 40px;
}

.navLinks .icon::before{
content: '';
border-radius: 4px;
display: inline-block;
position: absolute;
left: -1rem;
width: 2px;
background-color: #fff;
height:100%;
transition:1s;
}
.navigation .navLinks .icon:hover svg {
fill: #622773;
}

.navLinks .icon:hover::before{
  background-color: #622773;
}
.navigation .link{
  display: block;
  padding: .5rem;
  border-radius: 12px;
  border-left:3.5px solid #eee;
}
#navContainer {
  max-width:1120px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


#navContainer .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 1rem;
}
#navContainer .menu li {
  position: relative;
  opacity: none;
}

#navContainer .menu li:nth-child(1){
  animation: navbar .5s ease;
}

#navContainer .menu li:nth-child(2){
  animation: navbar .5s ease .2s;
}
#navContainer .menu li:nth-child(3){
  animation: navbar .5s ease .4s;
}

#navContainer .menu li:nth-child(4){
  animation: navbar .5s ease .6s;
}

#navContainer .menu li::after {
  content: '';
  display: block;
  visibility: hidden;
  width: 9.5rem;
  height: 1.5px;
  bottom: -0.6rem;
  left: -0.6rem;
  background: linear-gradient(to right, transparent, white);
  position: absolute;
  border-radius: 0.2rem;
}

#navContainer .menu li:nth-child(3)::after {
  content: '';
  visibility: hidden;
  width: 30rem;
  height: 1.5px;
  background: linear-gradient(to right, transparent, white);
  position: absolute;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}

#navContainer .menu li:hover::after {
  visibility: visible;
  animation: anima-size 0.4s forwards;
}

#navContainer .menu li:nth-child(3):hover::after {
  visibility: visible;
  animation: anima-Skill 0.4s forwards;
}

/*-------------------------------NAV-MOBILE-MENU-------------------------------------*/

.btn-menu {
  border: none;
  background-color: transparent;
  display: none;
  cursor: pointer;
  position: relative;
  padding: 0.8rem;
  margin-left: -10rem;
}

.btn-menu .hamburguer {
  display: block;
  position: relative;
  right: 0px;
  width: 40px;
  border-top: 3px solid white;
  transition: border 0.4s;
}
.btn-menu .hamburguer::before,
.btn-menu .hamburguer::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background-color: white;
  margin-top: 0.5rem;
  transition: 0.6s;
}

.btn-menu.active .hamburguer {
  border-top: none;
}

.btn-menu.active .hamburguer::before {
  position: absolute;
  transform: rotate(45deg);
}

.btn-menu.active .hamburguer::after {
  position: absolute;
  transform: rotate(-45deg);
}

/*--------------------------RESPONSIVIDADE-------------------------------*/

@media (max-width: 720px) {
  .btn-menu {
    display: flex;
    z-index: 250;
  }


  #navContainer .menu {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--three-color);
    z-index: 201;
    text-align: center;
    flex-wrap: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  #navContainer .menu.active {
    visibility: visible;
    opacity: initial;
  }

  #navContainer .menu.active li {
    transform: translate3d(700px, 0, 0);
    opacity: none;
  }
  #navContainer .menu li:hover::after {
  display: none;
  }

  #navContainer .menu li a{
    opacity: 0;
  }
  #navContainer .menu.active  li a {
    opacity: initial;
    font-weight: bold;
    margin-inline: 1.8rem;
    font-size: 1.8rem;
    padding-block: 0.3rem;
  }
  #navContainer .menu.active li:nth-child(1) {
    animation: show-mobLinks .5s forwards .6s;

  }
  #navContainer .menu.active li:nth-child(2) {
    animation: show-mobLinks .5s forwards .4s;
  }

  #navContainer .menu.active li:nth-child(3) {
    animation: show-mobLinks .5s forwards .2s;
  }

    #navContainer .menu.active li:nth-child(4) {
    animation: show-mobLinks .5s forwards;
  }
}

@keyframes show-mobLinks {
  from{
    transform: translate3d(700px, 0, 0);
    opacity: 0;

    
  }
  to {
    transform: initial;
    opacity: initial;
  }
}
