/*-----------------APRESENTAÇÃO-STYLE-GERAL------------------*/
.presentation{
position: relative;
overflow: hidden;
background-image: linear-gradient(to right bottom, #200726, #2f1038, #3f174b, #501f5f, #9711bc);
}


.presentation .logo {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
}
.presentation .logo .logoTitle{
  margin-left: -15px;
}
.containerPresentation{
  position: relative;
  height: 100vh;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  padding: 5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----------------------CARD-APRESENTAÇÃO-------------------------*/

.card-1 {
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
  animation: anima-Card 0.8s forwards;
}
.developer{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.card-1 #title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  opacity: initial;
}
.rotate-words {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  z-index: 3;
 
}
#dev{
  font-weight: bold;
}
.rotate-words span {
  font-weight: bold;
  width: max-content;
  background-color: #07030D;
  padding-inline: 0.7rem;
  opacity: 0;
  position: absolute;
  top: -18px;

  transform-origin: 10% 75%;
  animation: rotate-Words 12s var(--d) linear infinite;
}

.container-card .networking{
  justify-content: center;
  padding-top: 60px;
  gap: 1.5rem;
  display: flex;
}
.container-card .networking a{
  display: block;
  width: 32px;
}
.container-card .networking a:hover{
  cursor: pointer;
  animation: show-pop 1s infinite linear;

}
/*------------------------------RESPONSIVIDADE--------------------------*/
@media (max-width:950px){
  .containerPresentation{
    padding: 2rem;
  }
}

@media (max-width:750px){
  .containerPresentation{
    flex-direction: column;
    padding: 1rem;
  }
  .card-2{
    max-width: 300px;
  }
  .card-1{
    text-align: center;
    width: 100%;
  }
  .rotate-words {
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 160%;
  z-index: 3;
  position: absolute;
}
  .developer #dev{
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width:600px){
  .card-1 #title{
    font-size: 1.5rem;
  }
  .developer #dev{
    font-size: 1.5rem;
  }
  .rotate-words span{
    font-size: 1.5rem;
  }
  .rotate-words{
    margin-left: 5px;
  }
  
}


