/*-----------------APRESENTAÇÃO-STYLE-GERAL------------------*/
#presetation {
  overflow: hidden;
}
#presetation article {
  background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#grid1 {
  background-color: var(--second-color);
  border-right: 2px solid #eee;
  transform: skew(25deg);
  border-right: 2px solid var(--second-color);
  position: relative;
}

#grid1::before {
  content: '';
  display: block;
  width: 100rem;
  height: 100vh;
  background-color: var(--three-color);
  position: absolute;
  top: 50%;
  left: -17rem;
  z-index: -1;
  background-color: var(--second-color);
}

#title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#title span{
  color: var(--three-color);

}

#grid2 {
  background-color: var(--three-color);
  transform: skew(25deg);
}

#grid2::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--three-color);
  position: absolute;
  top: 0rem;
  left: 99%;
  z-index: -1;
}

/*-----------------------CARD-APRESENTAÇÃO-------------------------*/

.card-1 {
  display: block;
  margin: 0 auto;
  color: white;
  position: absolute;
  z-index: 200;
  top: 40vh;
  left: 4vw;
  font-size: 2rem;
  animation: anima-Card 0.8s forwards;
  width: 40rem;
}

.card-1 #title {
  font-size: 2.5rem;
  opacity: initial;
}

.rotate-words span {
  width: max-content;
  position: absolute;
  background-color: var(--three-color);
  padding-inline: 0.7rem;
  opacity: 0;
  transform-origin: 10% 75%;
  animation: rotate-Words 12s var(--d) linear infinite;
}

.card-2 {
  display: block;
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 35vh;
  left: 70vw;
  border-radius: 50%;
  animation: show-Avatar 8s infinite linear;
}

.rotate-words {
  display: inline;
  margin-left: 10px;
  position: relative;
}

/*------------------------------RESPONSIVIDADE--------------------------*/

@media (max-width:1300px){
  .card-1{
    left: 4vw;
    top: 40vh;
  }
  .card-1 #title{
    font-size: 2rem;
    
  }

  .container-card p{
    width: 470px;
  }
}
@media (max-width:1000px){
  #presetation{
    display: none;
  }
 

  .card-1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: initial;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 6.5rem);
  color: white;
  font-size: 2rem;
  animation: anima-Card 0.8s forwards;
}

.container-card{
  max-width: 1120px;
  padding-inline: 2rem;
}

#title span{
  color: var(--second-color);

}

.container-card article{
  position: relative;
  text-align: center;
}

.container-card article span{
 display: block;
}


.card-1 p{
  text-align: center;
  flex-shrink: 1;
  width: 100%;
}

  .card-2{
    display: none;
  }


  .rotate-words span{
    left: 50%;
    background-color: var(--second-color);
  }


}

