.projeto{
  position: relative;
  color: white;
  height:100vh;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #7b19c6db, #000000,rgb(1, 0, 10));
  overflow: hidden;
  
}

.projeto .sobreBackground{
  position: absolute;
  z-index: 1;
}
.projeto .containerProjetos{
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projeto .title{
  width: 100%;
  height: fit-content;
  margin-bottom: 0rem;
  text-align: left;
}

.js .projeto .title{
  width: 100%;
  transform: translate3d(0,-70px,0);
  opacity: 0;
  transition: 1s;
}
.js .projeto.active .title{
  width: 100%;
  opacity: initial;
  transform: initial;
}
.projeto .contentProjetos{
  overflow: hidden;
  display: flex;
  width: 100%;
  margin-block: 3rem;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;  
}

.iconProjeto{
  order: 1;
  width: 50%;
  transform: rotate(-90deg);
 
}

.js  .iconProjeto .rocket{
  transform: translate3d(-300px,300px,0);
  opacity: 0;
  transition: transform 5s, opacity 1s;
}
.js .projeto.active .rocket{
  opacity: initial;
  transform: initial;
}

.js   .container-swiper{
  opacity: 0;
  transition: 1s;
  transition-delay:.5s;
}
.js .projeto.active   .container-swiper{
  opacity: initial;
}
.cards{
  display: flex;
  width: 100%;
  flex-direction: row;
  transition: 1s ;
  transition-delay: 1s;
}


.card{
  background-image: linear-gradient(to right, #41295a, #2f0743);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  flex-shrink: 0;
  overflow: hidden;
  width: 75%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card .contentcard img{
  flex-shrink: 0;
}
.contentcard{
  display: flex;
  flex-direction: column;
}
.cardText{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.cardText h3{
  text-align: left;
}
.card .tecnologias {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 10px;
}
.card .tecnologias span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 44px;
}
.card .actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card a{
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
}
.card a img{
  width: 100%;
}
.card a:hover img{
  animation: show-pop 1s infinite ease;
}



@media (max-width:1300px){
  .projeto .sobreBackground{
    width: 1800px;
  }
  .projeto .containerProjetos{
    padding: 2rem;
  }

}
@media (max-width:1100px){
  .boxCards{
    width: 70%;
  }

  .iconProjeto{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iconProjeto .rocket{
    max-width: 300px;
  }
  .card .tecnologias{
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
  }
  .card .tecnologias span{
    width: 30px;
    height: 30px;
  }
  .card a{
    width: 30px;
    height: 30px;
  }
  .swiper-pagination{
    position: absolute;
    top: 80% !important;
  }

}

@media (max-width:890px){
  .projeto .containerProjetos{
    padding: 1rem;
  }
  .projeto .title{
    font-size: 2rem;
  }
  .projeto .contentProjetos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 0px;
  }

  .container-swiper{
    height: fit-content;
    width: 100%;
  }
  .swiper-pagination{
  position: absolute;
  top: 2% !important;
  left:40% !important;
  height: fit-content !important;
  margin: auto 0;
  transform: rotate(90deg) !important;
}
  .cardText{
    gap: 1rem;
    padding: 1rem;
  }
  .card{
    width: 70%;
    margin-inline: 15%;
  }
  .card .contentcard h3{
    font-size: 1.2rem;
  }
  .card .tecnologias{
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
  }
  .card .tecnologias span{
    width: 35px;
    height: 35px;
  }
    .card a{
    width: 35px ;
    height: 35px;
  }

  .iconProjeto{
    position: absolute;
    top: 70%;
    width: 40%;
  }

}

@media (max-width:500px){
  .card{
    width: 90%;
  }
    .card .tecnologias span{
    width: 25px;
    height: 25px;
  }
    .card a{
    width: 25px ;
    height: 25px;
  }
  .swiper-pagination{
     
      position: absolute;
      top: 2% !important;
      left:49% !important;
      height: fit-content !important;
      margin: auto 0;
      transform: rotate(90deg) !important;
      
    }
}



