.projeto{
  color: white;
  background-color: var(--three-color);
  overflow: hidden;
  padding: 1rem;
  
}
.projeto .title{
  max-width: 1120px;
  margin: 0 auto;
}

.js .projeto .title{
  position: relative;
  transform: translate(-100vh);
  grid-column: 1/-1;
  opacity: 0;
  transition: 1s;
}
.js .projeto.active .title{
  opacity: initial;
  transform: initial;
}
.projeto-container{
  display: grid;
  max-width: 1120px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  gap: 1.5rem;

}

/*-----------------------CARD-CONTEUDO-STYLE-------------------------------*/
.projeto-conteudo{
  border: 1px solid rgba(255, 255, 255, 0.123);
  background-color: #ffffff01;
  border-radius: 2px;
  margin-bottom: 50px;
  transition: all 1.5s ease;
  height: 250px;
}

.projeto .projeto-container div:nth-child(1){
  border-bottom-color:#2196f3 ;
}
.projeto .projeto-container div:nth-child(1):hover{
  border-color:#2196f3 ;
}

.projeto .projeto-container div:nth-child(2){
  border-bottom-color:#e91e63 ;
}
.projeto .projeto-container div:nth-child(2):hover{
  border-color:#e91e63 ;
}


.projeto .projeto-container div:nth-child(3){
  border-bottom-color:#23c18777 ;
}
.projeto .projeto-container div:nth-child(3):hover{
  border-color:#23c18777 ;
}

.projeto .projeto-container div:nth-child(4){
  border-bottom-color:#2196f3 ;
}
.projeto .projeto-container div:nth-child(4):hover{
  border-color:#2196f3 ;
}

.projeto .projeto-container div:nth-child(5){
  border-bottom-color:#e91e63 ;
}
.projeto .projeto-container div:nth-child(5):hover{
  border-color:#e91e63 ;
}

.projeto .projeto-container div:nth-child(6){
  border-bottom-color:#23c18777 ;
}
.projeto .projeto-container div:nth-child(6):hover{
  border-color:#23c18777 ;
}


.js .projeto-conteudo{
  opacity: 0;
}

.js .projeto.active .projeto-container .projeto-conteudo:nth-child(1) {
  animation: anima-Card 1.5s forwards;
}

.js .projeto.active .projeto-container .projeto-conteudo:nth-child(2) {
  animation: anima-Card 1.5s forwards .7s;
}

.js .projeto.active .projeto-container .projeto-conteudo:nth-child(3) {
  animation: anima-Card 1.5s forwards 1.2s;
}

.js .projeto.active .projeto-container .projeto-conteudo:nth-child(4) {
  animation: anima-Card 1.5s forwards 1.9s;
}

.js .projeto.active .projeto-container .projeto-conteudo:nth-child(5) {
  animation: anima-Card 1.5s forwards 2.6s;
}
.js .projeto.active .projeto-container .projeto-conteudo:nth-child(6) {
  animation: anima-Card 1.5s forwards 3.3s;
}






/*-----------------------CARD-STYLE--------------------------------------------*/
.projeto-conteudo .caixa{
  display: flex;
  overflow: hidden;
  height: 100%;
  transform-style: preserve-3d;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  transition: transform .5s;
  padding: 1rem 2rem;
}

.projeto-container .caixa h4{
  text-align: center;
  margin-block: .5rem;
}
.projeto-conteudo .caixa p{
  width: 100%;
  font-size: 1.1rem;
  text-align: left;
}


.projeto-container .projeto-conteudo:nth-child(1) svg > *{
  fill: white;
}

.projeto-container .projeto-conteudo:nth-child(1) a{
  color: #2195f3d4;
}



.projeto-container .projeto-conteudo:nth-child(2) a{
  color: #e91e63;
}


.projeto-container .projeto-conteudo:nth-child(3) a{
  color: #23c186;
}



.projeto-container .projeto-conteudo:nth-child(4) a{
  color: #2196f3;
}


.projeto-container .projeto-conteudo:nth-child(5) a{
  color: #e91e63;
}


.projeto-container .projeto-conteudo:nth-child(6) a{
  color: #23c186;
}




.projeto-container .projeto-conteudo .caixa span{
  display: block;
  align-self: center;
  width: 40px;
  height: 40px;
  background-size: cover;
}
.projeto-conteudo .caixa {
  font-size: 1rem;
}

.projeto-conteudo .caixa a{
  cursor: pointer;
  font-size: 1.3rem;
  padding: .3rem 3rem;
  margin: 0px .9rem .5rem;
  border-radius: 2px;
  text-align: center;
  transition: 1s;
  width: 100%;
  margin-block: .5rem;
}

/*.projeto-conteudo .caixa:hover a{
  background-color: var(--second-color);
}*/



.projeto .foot-projeto{
  display: inline-block;
  grid-column: 1/-1;
  width: 100%;
  text-align: center;
  padding: 0.5rem  0.7rem;
  margin-top: 1rem;
 
  transition: .8s;
}

.js .projeto .foot-projeto {
  transform: translate3d(-1000px,0,0);
}

.js .projeto.active .foot-projeto{
  transform: initial;
}


.projeto .foot-projeto a{
  padding: 0.5rem 0.7rem;
  transition: border 4s;
  
  }
.projeto .foot-projeto a:hover{
    border-bottom: 1px solid white;
}
/*----------------RESPONSIVIDADE-------------------------------------*/



@media (max-width:1100px){
  .projeto{
    height: fit-content;
    text-align: center;
  }
  p{
    font-size: .97rem;
  }
  .projeto-container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .projeto-container .projeto-conteudo .caixa a{
    width: fit-content;
    
  }

  /*.projeto-container .projeto-conteudo .caixa{
    height: 15rem;
  }*/

 
}

@media (max-width:750px){
   .projeto-container{
    grid-template-columns:100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }


}

/*------------------------Animações----------------------------------------*/

@keyframes meu-Gradiente {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }

}




