/*CLASSE JS USADA PARA GERENCIAR JAVASCRIPT*-----------------------*/
.skills{
  position: relative;
  overflow: hidden;
  z-index: 5000;
  height: 100vh;
}


.js .skill-text .text-conhecimentos{
  display: none;
}
/*-----------------------CARD-STYLE----------------------------------------*/
.skill-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5rem;
  position: relative;
  z-index: 2;
}
.skill-container .title{
  width: 100%;
  height: fit-content;
  margin-bottom: 0px;
}
.skill-text{
  width: 40%;
}


.js .skill-container .title{
  transform: translate3d(0,-70px,0);
  opacity: 0;
  transition: 1.5s ease;
}

.js .skills.active .skill-container .title{
  opacity: initial;
  transform: initial;
}

.skill-content{
  flex: 1;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 5rem;
}

.skill-text{
  align-self: flex-start;
  width: 40%;
  margin-top: 5rem;
}
.skill-text p{
  line-height: 150%;
  transition: all 1.5s ease .5s;
}

.js .skill-text p{
  
  transform: translate3d(0,-70px,0);
  opacity: 0;
}
.js .skills.active p{
  transform: initial;
  opacity: initial;
}

.swiperContainerSkills{
  width: 60%;
  height: calc(15rem + 7rem);
}
.skill-card{
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 15rem;
  margin-bottom: 10rem;
  margin-inline:1.65% ;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, #200726, #2f1038, #3f174b, #501f5f, #622773);
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: .3rem;
  border: none;
  padding: 3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.skill-card .cover{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
  z-index: 2;
  opacity: initial;
  transition: 1.5s;
}

.skill-card .hover{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
  z-index: 1;
  opacity: 0;
  transition: 1.5s;
}

.skill-card:hover .cover{
  opacity: 0;
  z-index: 1;
}
.skill-card:hover .hover{
  opacity: initial;
  z-index: 2;
}

#html{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s;
}
.skills.active #html{
  transform: initial;
  opacity: initial;
}

#css{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s .5s;
}

.skills.active #css{
  transform: initial;
  opacity: initial;
}

#javaScript{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 1s;
}
.skills.active #javaScript{
  transform: initial;
  opacity: initial;
}


#typeScript{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 1.5s;
}
.skills.active #typeScript{
  transform: initial;
  opacity: initial;
}

#react{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 2s;
}
.skills.active #react{
  transform: initial;
  opacity: initial;
}

#next{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 2.5s;
}
.skills.active #next{
  transform: initial;
  opacity: initial;
}

#redux{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 3s;
}
.skills.active #redux{
  transform: initial;
  opacity: initial;
}

#firebase{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 3.5s;
}
.skills.active #firebase{
  transform: initial;
  opacity: initial;
}
#prismic{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 4s;
}
.skills.active #prismic{
  transform: initial;
  opacity: initial;
}

#bootstrap{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 4.5s;
}
.skills.active #bootstrap{
  transform: initial;
  opacity: initial;
}

#styledComponents{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 5s;
}
.skills.active #styledComponents{
  transform: initial;
  opacity: initial;
}

#jest{
  opacity: 0;
  transform: translate3d(0,-70px,0);
  transition: 1s 5.5s;
}
.skills.active #jest{
  transform: initial;
  opacity: initial;
}
.skill-card img{
  width: 150px;
  height: 150px;
}


/*----------------------RESPONSIVIDADE---------------------------------*/
@media (max-width:1200px){
  .skills{
    overflow: hidden;
  }

 .skill-container{
  padding: 2rem;
  
  }
  .skill-content{
    gap: 2rem;
  }
  .skill-container .skill-text{
    width: 50%;
  }
  .skill-container .skill-text h2{
    width: 100%;
    text-align: center;
  }
  .skill-container .skill-text p{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    margin-bottom: 1rem;
  }
  .skillCardContent{
    width: 60%;
  }
  .conteudo-skill{
    height: 12rem;
  }
  .cardSkillsNavigation{
    margin-top: 1rem;
  }
  .skill-card img{
    width: 120px;
    height: 120px;
  }
}
 @media (max-width:850px){
  .skill-container{
    padding: 1rem;
  }
  .skill-container .title{
    font-size: 2rem;
  }
 
  .swiperContainerSkills{
    height: calc(9rem + 10rem);
    width: 100%;
  }
  #navigationSkills{
      top: 90% !important;
  }
 .skill-card{
  height: 9rem;
 }

 .skill-container .skill-text{
  height: 30%;
  width: 100%;
  margin-top: 0rem;
 }
  .skill-container{
    padding: 1rem;
  }
  .skill-content{
    flex-direction: column;
    justify-content: center;
  }

.skillCardContent{
  width: 100%;
  gap: 0rem;
}
  
 }


  @media (max-width:550px){
   .swiperContainerSkills{
      height: calc(5rem + 7rem);
    }
    #navigationSkills{
      top: 90% !important;
    }
    .skill-card{
      height: 10rem;

    }
    .skill-card img{
      height: 120px;
      width: 120px;
    }
 
  }

  @media(max-width:400px){
    .skill-card img{
      width: 100px;
      height: 100px;
    }
  }

