@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  background-image: linear-gradient(to right bottom, #200726, #2f1038, #3f174b, #501f5f, #9711bc);
  font-family: 'Open Sans', sans-serif;
  color: #eee;
  position: relative;
}
a{
  color: #eee;
  text-decoration: none;
}
.backgroundSucess{
  position: absolute;

}

.container-sucess{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 2;
}

.content-sucess{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  display: flex;
  align-items: center;
  width: 40%;
  flex-direction: column;
}

.cover-sucess{
  margin-top: -100px;
  width: 80%;
}

.actions-sucess{
  position: absolute;
  top: 80%;
}


@media (max-width:1300px){
  .background-sucess{
    width: 1800px;
  }
}

@media (max-width:820px){
  .content-sucess{
    width: 90%;
  }
}



